html{
    background-color: rgb(158, 154, 154);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: black;

}

body{
    width: 35%;
    height: 80vh;
    background-image: url('./photos/inimg.webp');
    background-size: cover;
    border-radius: 20px;
    box-shadow:  1px 1px 10px rgb(13, 151, 243);
    position: relative;
    backdrop-filter: blur(10px);
}
@media (max-width: 700px){
    body{
        width: 100%;
        height: 100vh;
    }

}
.search{
    width: 100%;
    height:10vh ;
    
    position: absolute;
    top: 10px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
svg{
    width: 15px;
    height: 15px;
    color: rgb(56, 55, 55);
}
button{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border-style: none;
    box-shadow: 0px 0px 5px 2px rgb(150, 147, 147);
    margin-right: 10px;
}
p{
    color: white;
}
.data{
   background-color: rgba(250, 250, 238, 0.334);
   backdrop-filter: 10px;
   border-radius: 10px;
    width: 90%;
    height: 60vh;
    position: absolute;
    top: 80px;
    left: 30px;
    text-align: center;
}